INPUT_FILE_NAME=
OUTPUT_FILE_NAME=
MAX_LONGITUDE_WIDTH=
MINIMAL_HEIGHT=
HEIGHT_GAP=
HEIGHT_COUNT=
K_NEIGHBOR=
KDTREE_CAPACITY=
BATCH_SIZE=
GRID_SIZE=
MAX_DISTANCE_TOLERANCE=
MAX_NEIGHBOR_DISTANCE=
MIN_NEIGHTBOR_DISTANCE=